body {
    padding: 25px;
    font-family: Futura;
    background: #2A3035;
    color: #8C9AA5;
    border: 1px;
    margin: 40px;
    border-color: #B1C5D6;
    border-style: solid;
}

 a {
     color: #B1C5D6;
     text-decoration: none;
 }

 textarea {
     resize: none;
     background: #5A6066;
     border: none;
     color: #B1C5D6;
     font-size: small;
     font-family: Futura;
     padding: 10px;
     outline: none;
 }

button {
     border: none;
     background: #8C9AA5;
     font-size: small;
     font-family: Futura;
     color: #2A3035;
     display: block;
}
div.flex-container {
    display: -webkit-flex;
    display: flex;
}

div.flex-item-1 {
    width: 35%;
}

div.flex-item-2 {
    width: 65%;
}

ul {
    list-style-type: none;
    padding: 0px;
 } 
