body {
    padding: 25px;
    font-family: Futura, sans-serif;
    background: #2A3035;
    color: #8C9AA5;
    border: 1px;
    margin: 40px;
    border-color: #B1C5D6;
    border-style: solid;
}

span.fake-link {
    color: #B1C5D6;
}

span.fake-link:hover {
    cursor: pointer;
}
textarea {
    resize: none;
    background: #5A6066;
    border: none;
    color: #B1C5D6;
    font-size: small;
    font-family: Futura, sans-serif;
    padding: 10px;
    outline: none;
    width: 270px;
    height: 75px;
}

button {
    border: none;
    background: #8C9AA5;
    font-size: small;
    font-family: Futura, sans-serif;
    color: #2A3035;
    display: block;
    outline: none;
}
div.flex-container {
    display: -webkit-flex;
    display: flex;
}

div.flex-item-1 {
    width: 35%;
    margin: 15px;
    margin-left: 0px;
}

div.flex-item-2 {
    width: 65%;
    margin: 15px;
    margin-right: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
} 

li.from-user {
    text-align: right;
}

button.message-button {
    margin-left: auto;
    margin-right: 0px;
}

div.send-message {
    float: right;
}

div.splits {
    border: #8C9AA5;
    border-style: solid;
    border-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
    overflow-y: auto;
    padding-right: 10px;
}

div#messages {
    height: 250px;
}

div#friends {
    height: 177px;
}

div#other-users {
    height: 130px;
}

div.splits::-webkit-scrollbar {
    background-color: #2A3035; 
    width: 10px;
}

div.splits::-webkit-scrollbar-thumb {
    background-color: #B1C5D6; 
}
